<!-- views/partials/charities-form.handlebars -->

<fieldset>
  <legend>Edit Charity</legend>
  <!-- NAME -->
  <div class="form-group">
    <label for="charity-name">Title</label><br>
    <input id="charity-name" type="text" name="name" value="{{charity.name}}"/>
  </div>

  <!-- MOVIE TITLE -->
  <div class="form-group">
    <label for="charity-purpose">Charity Purpose</label><br>
    <input id="charity-purpose" type="text" name="purpose" value="{{charity.purpose}}" />
  </div>

  <!-- DESCRIPTION -->
  <div class="form-group">
    <label for="charity-description">Description</label><br>
    <textarea id="charity-description" name="description" rows="10" />{{charity.description}}</textarea>
  </div>
</fieldset>