<!-- views/charities-index.handlebars -->

<h1>Charities</h1>
<a href="/charities/new">New Charity</a>

<div class="row">

  {{#each charities}}
    <div class="col-sm-3">
      <h2><a href="/charities/{{this._id}}">{{this.name}}</a></h2>
      <small>{{this.purpose}}</small>
    </div>
  {{/each}}
</div>
